* {
    margin: 0px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #070707;
    color: wheat;
}

h1 {
    font-size: 5em;
}

p {
    justify-content: f;
    font-size: 1.5em;
}