@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
body {
  background-color: #64707c;
  font-family: 'Reem Kufi Ink', sans-serif;
  font-weight: bold;
  color: wheat;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

/*  */
body {
  font-weight: 600;
  font-size: 40px;
  background-color: black;
  color: white;
}

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: white;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* Section for the button 1 from https://uiverse.io*/
#button1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: 40px;
  height: 3em;
  width: 12.5em;
  background: #a545ff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  transition: 0.5s;
}

#button1:hover {
  box-shadow: 0px 1px 66px blue;
  filter: blur(1px);
}

#button1:active {
  transform: scale(0.9);
  box-shadow: 14px 5px 56px -10px #ffffff;
}

.version {
  position: absolute;
  top: 450px;
  left: 8px;
  font-size: 0.3em;
  font-weight: 100;
}