* {
  margin: 0px;
}

body {
  background-color: #070707;
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
}

/* Next part is for uiverse button */
.download-btn {
  position: absolute;
  left: 41%;
  top: 50%;
}

.download-btn {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #8afffd;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.download-btn:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.download-btn:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
/* End of uiverseio part */