* {
  margin: 0px;
}

body {
  background-color: #000000;
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
}

.play-txt {
  position: absolute;
  text-align: center;
  left: 33%;
  top: 20%;
  color: rgb(132, 250, 116);
  font-size: 50px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

/* For UIVERSE.io */
.uiversebutton {
 --color: #560bad;
 font-family: inherit;
 display: inline-block;
 width: 8em;
 height: 2.6em;
 line-height: 2.5em;
 margin: 0px;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 font-size: 17px;
 border-radius: 6px;
 font-weight: 500;
 color: var(--color);
}

.uiversebutton:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

.uiversebutton:hover {
 color: #fff;
}

.uiversebutton:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

.uiversebutton:hover:before {
 top: -30px;
 left: -30px;
}

.uiversebutton:active:before {
 background: #3a0ca3;
 transition: background 0s;
}

/* The next part is for the play button */
.button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(132, 250, 116);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: #3a0ca3;
  transition-duration: .5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}