* {
  margin: 0px;
  font-family: 'Lobster', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000000;
  font-size: 24px;
}

/* For UIVERSE.io */
.uiversebutton {
 --color: #560bad;
 background-color: #000000;
 scale: 0.8;
 font-family: inherit;
 display: inline-block;
 width: 8em;
 height: 2.6em;
 line-height: 2.5em;
 margin: 0px;
 left: -10px;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 font-size: 17px;
 border-radius: 6px;
 font-weight: 500;
 color: var(--color);
}

.uiversebutton:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

.uiversebutton:hover {
 color: #030000;
}

.uiversebutton:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

.uiversebutton:hover:before {
 top: -30px;
 left: -30px;
}

.uiversebutton:active:before {
 background: #3a0ca3;
 transition: background 0s;
}
/* second button help */
.uiversebutton2 {
  --color: #560bad;
  background-color: #000000;
  scale: 0.8;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 0px;
  left: -35px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .uiversebutton2:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .uiversebutton2:hover {
  color: #030000;
 }
 
 .uiversebutton2:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .uiversebutton2:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .uiversebutton2:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }
/* The next part is for the play button */
#button1 {
  position: absolute;
  left: 50%;
  top: 140px;
  margin-left: -125px;
  margin-top: 40px;
  height: 3em;
  width: 12.5em;
  background: #a545ff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  transition: 0.5s;
}

#button1:hover {
  box-shadow: 0px 1px 66px blue;
}

#button1:active {
  transform: scale(0.9);
  box-shadow: 14px 5px 56px -10px #ffffff;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 580px;
  top: 10px;
  color: #a545ff;
}

.loader:hover {
  box-shadow: 10px 20px 100px blue;
  background-color: #00ac9e;
  filter: blur(1px);
  transition: 1500ms ease-out;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff0000;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.container {
  position: absolute;
  top: 20px;
  left: 35%;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  color: wheat;
  margin-top: 0;
}

select {
  padding: 8px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

#version-select {
  position: absolute;
  top: 200px;
  left: -15px;
  border-radius: 11px;
  border-width: 1px;
  border-color: yellow;
  font-size: 1em;
  background-color: black;
  color: wheat;
}

#download-button {
  position: absolute;
  top: 280px;
  left: 260px;
  border-radius: 9px;
  border-width: 2px;
  border-color: yellow;
  color: white;
  font-size: 0.8em;
  background-color: transparent;
}