@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
body {
  background: linear-gradient(46deg, #383838,#202020);
  font-size: 24px;
  font-family: 'Reem Kufi Ink', sans-serif;
  font-weight: bold;
  color: wheat;
}

/*  */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  background-color: black;
  color: white;
}

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: white;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* Section for the button 1 from https://uiverse.io*/
.buttonTest {
  font-family: 'Reem Kufi Ink', sans-serif;
  background-color: black;
  color: aliceblue;
  height: 2em;
  width: fit-content;
  cursor: default;
}

#button1 {
 padding-left: 33px;
 padding-right: 33px;
 padding-bottom: 16px;
 padding-top: 16px;
 border-radius: 9px;
 background: #d5f365;
 border: none;
 font-family: inherit;
 text-align: center;
 cursor: pointer;
 transition: 0.4s;
}

#bottone1:hover {
 box-shadow: 7px 5px 56px -14px #C3D900;
}

#bottone1:active {
 transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #C3D900;
}